{% extends 'base.html' %} {% load static %}

{% block title %}Sign Up - Task Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container signup-container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="signup-box">
                <h2 class="text-center mb-4">Create Your Account</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <p class="text-center mt-3">Already have an account? <a href="{% url 'home' %}">Login here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
